
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Mukta:wght@300&family=Oswald:wght@700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap');
@font-face{
    font-family: "bold";
    src: url("../public/opensas/static/OpenSans-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "extrabold";
    src: url("../public/opensas/static/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face{
    font-family: "light";
    src: url("../public/opensas/static/OpenSans-Light.ttf") format("truetype");
}
@font-face{
    font-family: "medium";
    src: url("../public/opensas/static/OpenSans-Medium.ttf") format("truetype");
}
@font-face{
    font-family: "semibold";
    src: url("../public/opensas/static/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face{
    font-family: "regular";
    src: url("../public/opensas/static/OpenSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "mediumitalic";
    src: url("../public/opensas/static/OpenSans-MediumItalic.ttf") format("truetype");
}
@font-face{
    font-family: "lightitalic";
    src: url("../public/opensas/static/OpenSans-LightItalic.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;500&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
}

/* navbar */

nav .navbar-nav  .nav-link:hover{
    color: #23acfc !important;
    background:none !important;
}
nav .navbar-nav  .nav-link{
    padding: 25px 0;
}
nav .navbar-nav  a{
    font-size: .9rem !important;
    color: rgb(165, 164, 164) !important;
}
nav .navbar-nav .dropdown-item:hover{
    color:#5AADDD !important;
    background-color: #b1daf1;
}
.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    left: -50px;
    background-color: #ffffff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.555) !important;
}
.navbar-nav .nav-item .dropdown-item {
    line-height:2.5rem !important;
}
.nav-item:hover .drop-icon{
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}
nav  .fa i{
   border-radius: 50%;
   font-size: .9rem !important;
   color: white !important;
   background: rgb(85, 84, 84);
   padding: .4rem !important;
   transition: all .5s ease-in-out;
}
nav  .fa i:hover{
    background-color: #5AADDD !important;
}



/* .App{
  text-align: center;
} */
 /* Footer  */
/* Footer */
.footerbg{
    background-color: #5AADDD;
}
.chevron{
    font-size: 12px;
}
.footerfont{
    font-size: 14px;
}

.footerbg{
    background-color: #5AADDD;
}
.chevron{
    font-size: 12px;
}
.footerfont{
    font-size: 14px;
}
.heading{
    font-size: 24px;
    color: #333333;
 
}
.parafont{
    font-size: 14px;
    color:#333333
}

.header_phone{
  font-size: 12.6px;
  color: rgb(153, 153, 153);
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.header_top{
 background-color: #f5f5f5;      
}
nav a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

 /* Terms of use  */
.terms{
    font-size: 24px;
    color: #333333;
    margin:8px 0px 0px 0px;
}
.termsacceptance{
    font-size: 18px;
    margin:30px 0px 10px 0px;
    font-family: medium;
    color: #333333;
}
.termsparagraph{
    font-size: 14px;
    margin: 15px 0px;
    font-family: light;
    color: #333333;
}
.termslast{
    font-size: 14px;
    margin: 25px 0px;
    color: #333333;
    font-family: light;
}
/* Privacy Policy  */
.privacy{
    font-size: 24px;
    color: #333333;
    margin:8px 0px 0px 0px;
}
.privacyintro{
    font-size: 18px;
    margin:30px 0px 10px 0px;
    color: #333333;
    font-family: medium;
}
.privacyenter{
    font-size: 14px;
    margin: 15px 0px;
    color: #333333;
    font-family: light;
}
.privacylegal{
    font-size: 13px;
    margin:30px 0px 10px 0px;
    color: #333333;
    font-family: medium;
}
.privacylast{
    font-size: 14px;
    margin: 25px 0px;
    color: #333333;
    font-family: light;
}

/* Media Downloads */
.downloads{
    font-size: 24px;
    color: #333333;
    margin:8px 0px 0px 0px;
    font-family: semibold;
}
.downloadtext{
    color: #333333;
    font-size: 14px;
    font-family: light;
}
.downloadtitle{
    font-size: 18px;
    margin: 10px 0px;
    color: #333333;
    font-family: medium;
}
.pressimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pressmail{
    font-size: 24px;
    font-family: regular;
}
.vardaansaa{
    font-size: 18px;
    font-family: Helvetica;
}
.vardaan{
    font-size: 24px;
    color: #333333;
    margin:8px 0px 0px 0px;
    font-family:Helvetica ;
}
.vardaantext{
    color: #333333;
    font-size: 14px;
    font-family: Helvetica;
}
.vardaanforth{
    font-size: 18px;
    color: #6b0202;
    font-family: Helvetica;
    font-weight: bold;
}
.vardaansunday{
    font-size: 18px;
    font-family: Helvetica;
    color: black;
    font-weight: bold;
}
.vardaanentry{
    font-size: 14px;
    color: #6b0202;
    font-family: Helvetica;
    font-weight: bold;
}

a{
    text-decoration: none !important;
}



